@{Layout = "/Shared/Layout.cshtml";}

@section CustomStyles {
    <style type="text/css">
        body {
            background-image: url("../img/bg_blue_hands.jpg");
        }
        div.close {
            display: none;
        }
    </style>
}

<h1>
    Welcome to We Need Nashville
</h1>
<h2>
    Mobile massage and more!
</h2>

<div class="thirds">
    <a href="~/about.cshtml" style="height: 40%; background: url('@Href("~/img/fountain.jpg")') no-repeat rgb(72, 0, 255) center top; background-size: 100% auto;">
        <span class="anchorWrap">About</span>
    </a>
    <a href="~/therapists.cshtml" style="height: 60%; background: url('@Href("~/img/miles_sitting.jpg")') no-repeat rgb(72, 0, 255) center 10%; background-size: 100% auto;">
        <span class="anchorWrap">Therapists</span>
    </a>
</div>

<div class="thirds">
    <a href="~/services.cshtml" style="height: 100%; background: url('@Href("~/img/Att_building_nashville.jpg")') no-repeat rgb(72, 0, 255) center center; background-size: 100% auto;">
        <span class="anchorWrap">Services</span>
    </a>
</div>

<div class="thirds">
    <a href="~/info.cshtml" style="height: 60%; background: url('@Href("~/img/nashville_street.jpg")') no-repeat rgb(72, 0, 255) center center; background-size: auto 100%;">
        <span class="anchorWrap">Info</span>
    </a>
    <a href="~/videodemo.cshtml" style="height: 40%; background: url('@Href("~/img/massage_stock_man.jpg")') no-repeat rgb(72, 0, 255) center center; background-size: 100% auto;">
        <span class="anchorWrap">Video Demo</span>
    </a>
</div>

<div class="clearfix"></div>

<h2 class="footer">
    Wherever you are we've got what you knead!
</h2>